/*@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    /*background-image: url('https://media1.giphy.com/media/l2QE7PACf4cJccwA8/giphy.gif'); 
    background-color: rgb(48, 47, 47);
    color: white;
    font-family: 'Libre Franklin', sans-serif;
}

.center {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

form {
    width: 17rem;
    height: 16rem;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    background-color: #424141;
}

label {
    margin:15px;
    font-size: 18px;
    padding-top: 1rem;
    margin-top: 10px;
}

input {
    margin: 15px;
    padding: .4rem;
    
}

.boton4 {
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 15px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #318aac;
    border: 2px solid;
    border-color: #318aac;
    position: relative;
    border-radius: 3px;
}

.boton4:hover {
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgb(181, 202, 210);
    transition: all 0.2s ease;
}*/
html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F5F5F5;
}


.centrador{
  position: relative;
}

.imagen{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
