<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body cz-shortcut-listen="true">

    <main class="form-signin">
        <form method="post">
            <input type="hidden" name="csrfmiddlewaretoken"
                value="7zAgAfQ1X0FUCLZXGbc6XFYwDjE7d6c5OXcDA5X8AwrPSdi4gXa02DnmOhb1TZe7">
            <div class="centrador">
                <img class="mb-5 imagen"
                    src="https://automotoresdemexico.com.mx/Distribuidores/automotoresdemexico/img/logo.jpg" alt="">
            </div>

            <label for="id_username">Nombre de usuario:</label>
            <ul class="errorlist">
                <li>Este campo es obligatorio.</li>
            </ul><input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username"
                maxlength="150" required="" id="id_username">
            <label for="id_password">Contraseña:</label>
            <ul class="errorlist">
                <li>Este campo es obligatorio.</li>
            </ul><input type="password" name="password" autocomplete="current-password" required="" id="id_password">

            <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
            <p class="mt-5 mb-3 text-muted" style="text-align: center;">© Powered by Benjamin Avila 2021</p>
        </form>
    </main>





</body>

</html>