body{
    background-color: #F1F3FA !important;
}

.bg-person {
    background-color: #ffffff !important;
}

.font-small{
    font-size: small;
}

.button-left{
    float: left;
}
.button-right{
    float: right;
    margin: .5rem;
    padding: .4rem .9rem;
}

.button-person{
    background-color:rgb(99, 174, 255) !important;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

.button-person:hover {
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.24), 0 15px 20px 0 rgba(0,0,0,0.19);
}

.a-person{
    color: rgb(0, 0, 0) !important;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: 500 !important;
}
.a-person:hover{
    color: rgb(255, 0, 0) !important;
}