body{
    background-color: #eeeded !important;
}

.bg-person {
    background-color: #ffffff !important;
}

.font-small{
    font-size: small;
}

.button-left{
    float: left;
}
.button-right{
    float: right;
    margin: .5rem;
    padding: .4rem .9rem;
}

.button-person{
    background-color:transparent !important;
    border-radius: 3px;
    border: 1px solid;
    border-color: #198754 !important;
    color: #198754 !important;
}
.button-person:hover{
    background-color: #198754 !important;
    border-radius: 3px;
    border-color: #198754 !important;
    color: rgb(255, 255, 255) !important;
}
.a-person{
    color: rgb(0, 0, 0) !important;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: 500 !important;
}
.a-person:hover{
    color: rgb(255, 0, 0) !important;
}