{% extends 'base/base.html' %}

{% load static %}
{% block st %}

<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/form.css' %}" rel="stylesheet">


{% endblock %}

<title>{% block title %} AMSA {% endblock %}</title>

<body>

    {% block contect %}

    <div class="conteiner">
        <h4 style="text-align: center;">Solicitud para cancelación de factura</h4>
        <main class="form-group">


            <form method="post">
                {% csrf_token %}

                {{ form }}

                <button class="w-100 btn btn-lg btn-primary" type="submit">Enviar solicitud</button>
                
            </form>

        </main>
    </div>

</body>
{% endblock %}

{% block footer %}

{% endblock %}



{% block st_js %}
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
{% endblock %}