{% extends 'base/base.html' %}

{% load static %}

{% block st %}

<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/form.css' %}" rel="stylesheet">

{% endblock %}

<title>{% block title %} AMSA {% endblock %}</title>



{% block contect %}

<body>
    <div class="conteiner">
        <h4 style="text-align: center; padding-top: 1.5rem;">Solicitud para cancelación de factura</h4>
        <main class="form-group">


            <form method="post">
                {% csrf_token %}

                {{ form }}

                <button class="w-100 btn btn-lg btn-primary" type="submit">Enviar solicitud</button>

            </form>

        </main>
    </div>

</body>
{% endblock %}

{% block footer %}

{% endblock %}


{% load static %}
{% block st_js %}

{% endblock %}