{% extends 'base/base.html' %}


<title>{% block title %}AMSA{% endblock %}</title>
{% load static %}

{% block st %}
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!--
<script>
    $(document).ready(function () {
        var refreshId = setInterval(function () {
            $('#alerta_incidencias').load('/act');//actualizas el div
        }, 1000);
    });
</script>
-->
{% endblock %}

{% block contect %}
<div id="act">
    <table class="table table-bordered">
        <thead class="h6 thead_person">
            <tr class="tr_person">
                <td>Solicito</td>
                <td>Empresa</td>
                <td>Documento</td>
                <td>Cliente</td>
                <td>Cartera</td>
                <td>Orden</td>
                <td>Folio</td>
                <td>RFC</td>
                <td>Cuenta contable</td>
                <td>Motivo de cancelacion</td>
                <td>Fecha de solicitud</td>
                <td>Obs</td>
                <td>
                    &nbsp;
                    <!--
                    <a href="{% url 'formulario' %}">
                        <button class="button-person">Nueva</button>
                    </a>
                    -->
                </td>
            </tr>
        </thead>
        <tbody>
            {% if solicitudes %}
            {% for sol in solicitudes %}
            <tr class="font-small">
                <td>{{ sol.solicito }}</td>
                <td>{{ sol.sucursal.empresa }}</td>
                <td>{{ sol.documento }}</td>
                <td>{{ sol.nombre_cliente }}</td>
                <td>{{ sol.cartera_cliente }}</td>
                <td>{{ sol.numOrden }}</td>
                <td>{{ sol.folio }}</td>
                <td>{{ sol.rfc }}</td>
                <td>{{ sol.cuenta_contable }}</td>
                <td>{{ sol.motivo_de_cancelacion }}</td>
                <td>{{ sol.fecha_sol_de_cancelacion }}</td>
                <td>{{ sol.obs }}</td>
                {% if user.is_superuser %}
                 
                <td>
                    
                    <form action="{% url 'form_aten' %}" method="GET">
                        <input type="hidden" id="id_sol" name="id_sol" value="{{ sol.id }}">
                        <input type="submit" value="Atender" class="button-person">
                    </form>

                </td>
                
                {% else %}
                <td>
                    <a>
                        <button class="button-person-dos">Estatus</button>
                    </a>
                </td>
                {% endif %}
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% else %}
<h1>No hay registos de solicitud con usuario: {{user.last_name}}</h1>
{% endif %}



{% endblock %}

{% block footer %}

{% endblock %}


{% block st_js %}

{% endblock %}