{% extends 'base/base.html' %}


<title>{% block title %}AMSA | Lista {% endblock %}</title>
{% load static %}

{% block st %}
<!--
<script>
    $(document).ready(function () {
        var refreshId = setInterval(function () {
            $('#alerta_incidencias').load('/act');//actualizas el div
        }, 1000);
    });
</script>
-->
{% endblock %}

{% block contect %}

{% if q %}
<table class="table table-hover" style="font-size: .85rem;">
    <thead>
        <tr>
            <th scope="col">Solicitó</th>
            <th scope="col">Documento</th>
            <th scope="col">Folio CFDI</th>
            <th scope="col">RFC cliente</th>
            <th scope="col">UUID</th>
            <th scope="col">Fecha de solicitud</th>
            <th scope="col">Boton</th>
        </tr>
    </thead>
    <tbody>
        {% for x in q %}
        {% for sol in x %}
        <tr>
            <!--<td>{{ sol.solicitudes.solicitante }}</td>-->
            <td>{{ sol.solicitante }}</td>
            <td>{{ sol.documento }}</td>
            <td>{{ sol.folio }}</td>
            <td>{{ sol.rfc }}</td>
            <td>{{ sol.UUID }}</td>
            <td>{{ sol.fecha_sol_de_cancelacion}}</td>
            <td>
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                    data-bs-target="#Modal{{ sol.id }}">
                    Detalles
                </button>

                <!-- Modal -->
                <div class="modal fade" id="Modal{{ sol.id }}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">ID del la solicitud: {{ sol.id }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <span class="text-muted font-13">Nombre del cliente</span><br>{{ sol.nombre_cliente }}<br>
                                <hr class="featurette-divider">
                                <span class="text-muted font-13">Motivo de cancelación</span><br>{{ sol.motivo_de_cancelacion }}<br>
                                <hr class="featurette-divider">
                                <span class="text-muted font-13">UUID</span><br>{{ sol.UUID }}<br>
                                <hr class="featurette-divider">
                                <span class="text-muted font-13">Archivo</span><br><a href="#">{{ sol.archivo }}</a><br>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

                                {% if user.is_superuser %}
                                <form action="{% url 'form_aten' %}" method="GET">
                                    <input type="hidden" id="id_sol" name="id_sol" value="{{ sol.id }}">
                                    <input type="submit" value="Atender" class="btn btn-outline-success">
                                </form>

                                {% else %}
                                <form action="{% url 'sol_atendida' %}" method="GET">
                                    <input type="hidden" id="id_sol" name="id_sol" value="{{ sol.id }}">
                                    <input type="submit" value="Estatus" class="btn btn-outline-success">
                                </form>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>

            </td>

        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>

</table>

{% else %}
{% if user.is_superuser %}
<br>
<br>
<h2 style="text-align: center;">No hay nada que atender</h2>
<br>
{% else %}
<br>
<br>
<h2 style="text-align: center;">No hay registos de solicitudes con usuario: {{ user.first_name }} {{user.last_name}}
</h2>
{% endif %}
{% endif %}

{% endblock %}

{% block footer %}

{% endblock %}

{% block st_js %}

{% endblock %}