{% extends 'base/base.html' %}


<title>{% block title %}AMSA | solicitudes{% endblock %}</title>
{% load static %}

{% block st %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!--
<script>
    $(document).ready(function () { 
        var refreshId = setInterval(function () {
            $('#alerta_incidencias').load('/act');//actualizas el div
        }, 1000);
    });
</script>
-->
{% endblock %}

{% block contect %}

{% if solicitudes_atendidas %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Cancelo</th>
            <th scope="col">Fecha de cancelacion</th>
            <th scope="col">Estatus</th>
            <th scope="col">Comentarios</th>
            <th scope="col">Documento</th>
            <th scope="col">Opciones</td>
        </tr>
    </thead>
    <tbody>

        {% for sol in solicitudes_atendidas %}
        <tr>
            <td style="padding-top: .5rem;">{{ sol.userCancel }}</td>
            <td style="padding-top: .5rem;">{{ sol.fecha_de_cancelacion }}</td>
            <td style="padding-top: .5rem;">{{ sol.estatus }}</td>
            <td style="padding-top: .5rem;">{{ sol.comentarios }}</td>
            <td style="padding-top: .5rem;">{{ sol.atendida.documento }}</td>
            {%if user.is_superuser %}

            <td>
                <a class="btn btn-outline-secondary" style="margin-left: .8rem;" href="{% url 'editar_solicitud_atendida' %}">Editar</a>

                <a class="btn btn-outline-danger" style="margin-left: .8rem;" href="{% url 'eliminar_solicitud_atendida' sol.id %}">Eliminar</a>

            </td>
            {% else %}
            <td>
                <a class="btn btn-outline-secondary" href="{% url 'index'%}">Regresar</a>
            </td>
            {% endif %}

        </tr>
    </tbody>
    {% endfor %}
</table>

{% else %}
<br>
<br>
<h2 style="text-align: center;">Tu solicitud aún no ha sido atendida.</h2>
{% endif %}



{% endblock %}

{% block footer %}

{% endblock %}


{% block st_js %}

{% endblock %}