{% extends 'base/base.html' %}

{% load static %}
{% block st %}

<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/solicitudesmenu.css' %}" rel="stylesheet">

{% endblock %}

<title>{% block title %} AMSA | Atender solicitud {% endblock %}</title>

{% block contect %}

<body>
    <br>
    <h2 style="text-align: center;">Selecciona el documento a cancelar</h2>
    <div class="contenedor_documentos">

        {% for doc in documento %}
        <a href="{{ doc.url }}">
            <p>{{ doc.docCancel }}</p>
        </a>
        {% endfor %}

    </div>
</body>

{% endblock %}