{% extends 'base/base.html' %}

{% load static %}
{% block st %}

<link href="{% static 'css/app.min.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/form.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

{% endblock %}

<title>{% block title %} AMSA | Dashboard {% endblock %}</title>

<body>

    {% block contect %}
    {% if user.is_superuser %}
    <!-- Start Content -->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <h4 class="h3 page-title">Dashboard</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="shadow p-1 mb-4 card widget-flat">
                            <div class="card-body">
                                <div class="float-end">
                                    <i class="mdi mdi-cart-plus widget-icon"></i>
                                </div>
                                <h5 class="text-muted fw-normal mt-0">Total de solicitudes</h5>
                                <h3 class="mt-3 mb-3 text-center">{{ solicitud }}</h3>
                            </div> <!-- end card-body-->
                            
                        </div> <!-- end card-->
                    </div> <!-- end col-->

                    <div class="col-sm-3">
                        <div class="shadow p-1 mb-4 card widget-flat">
                            <div class="card-body">
                                <div class="float-end">
                                    <i class="mdi mdi-cart-plus widget-icon"></i>
                                </div>
                                <h5 class="text-muted fw-normal mt-0">Atendidas</h5>
                                <h3 class="mt-3 mb-3 text-center">{{ solicitud_a }}</h3>

                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->


                    <div class="col-sm-3">
                        <div class="shadow p-1 mb-4 card widget-flat">
                            <div class="card-body">
                                <div class="float-end">
                                    <i class="mdi mdi-cart-plus widget-icon">
                                        

                                    </i>
                                </div>
                                <h5 class="text-muted fw-normal mt-0" title="Number of Orders">Sin atender</h5>
                                <h3 class="mt-3 mb-3 text-center">{{ solicitud_sa }}</h3>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->

                </div> <!-- end row -->


            </div> <!-- end col -->

        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <h4 class="header-title">Cancelaciones por usuario</h4>
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="javascript:void(0);" class="dropdown-item">Excel</a>
                                </div>
                            </div>
                        </div>

                        <div class="chart-content-bg">
                            <div class="row text-center">
                                <div class="col-sm-6">
                                    <p class="text-muted mb-0 mt-3">Total de solicitudes</p>
                                    <h2 class="fw-normal mb-3">
                                        <small
                                            class="mdi mdi-checkbox-blank-circle text-primary align-middle me-1">
                                        </small>
                                        <span># de solicitudes</span>
                                    </h2>
                                </div>
                                <!--
                                <div class="col-sm-6">
                                    <p class="text-muted mb-0 mt-3">other total</p>
                                    <h2 class="fw-normal mb-3">
                                        <small
                                            class="mdi mdi-checkbox-blank-circle text-success align-middle me-1">
                                        </small>
                                        <span>other price</span>
                                    </h2>
                                </div>
                                 -->
                            </div>
                        </div>
                        <!--    
                        <div class="dash-item-overlay d-none d-md-block" dir="ltr">
                            <h5>Otro texto aquí</h5>
                            <p class="text-muted font-13 mb-3 mt-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus aliquid quia nam,
                                 animi non autem error temporibus vel sed itaque. Autem minus nesciunt accusantium eum. S
                                 uscipit dolore praesentium veritatis quo!</p>
                            <a href="javascript: void(0);" class="btn btn-outline-primary">Reporte
                                <i class="mdi mdi-arrow-right ms-2"></i>
                            </a>
                        </div>
                        -->
                        <div dir="ltr">
                            <div id="revenue-chart" class="apex-charts mt-3" data-colors="#727cf5,#0acf97" style="min-height: 364px;">
                                <p style="text-align: center;">Aqui va una gráfica</p>

                            </div>
                        </div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->

        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-xl-6 col-lg-12 order-lg-2 order-xl-1">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <h4 class="header-title">Solicitudes del dia</h4>
                            <a href="javascript:void(0);" class="btn btn-outline-success">Atender <i
                                    class="mdi mdi-download ms-1"></i></a>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-centered table-nowrap table-hover mb-0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h5 class="font-14 my-1 fw-normal">ASOS Ridley High Waist</h5>
                                            <span class="text-muted font-13">07 April 2018</span>
                                        </td>
                                        <td>
                                            <h5 class="font-14 my-1 fw-normal">$79.49</h5>
                                            <span class="text-muted font-13">Price</span>
                                        </td>
                                        <td>
                                            <h5 class="font-14 my-1 fw-normal">82</h5>
                                            <span class="text-muted font-13">Quantity</span>
                                        </td>
                                        <td>
                                            <h5 class="font-14 my-1 fw-normal">$6,518.18</h5>
                                            <span class="text-muted font-13">Amount</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- end table-responsive-->

                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->

            <div class="col-xl-3 col-lg-6 order-lg-1">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h4 class="header-title">Total por departamento</h4>
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Excel</a>
                                    <!-- item-->

                                </div>
                            </div>
                        </div>

                        <div id="average-sales" class="apex-charts mb-4 mt-3"
                            data-colors="#727cf5,#0acf97,#fa5c7c,#ffbc00" style="min-height: 205.7px;">
                            <div id="apexchartsfz4kwufj" class="apexcharts-canvas apexchartsfz4kwufj apexcharts-theme-light">
                                <p style="text-align: center;">Aquí va una gráfica de pastel</p>
                                <div class="apexcharts-legend"></div>
                                <div class="apexcharts-tooltip apexcharts-theme-dark">
                                    <div class="apexcharts-tooltip-series-group" style="order: 1;"><span
                                            class="apexcharts-tooltip-marker"
                                            style="background-color: rgb(114, 124, 245);"></span>
                                        <div class="apexcharts-tooltip-text"
                                            style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                            <div class="apexcharts-tooltip-y-group"><span
                                                    class="apexcharts-tooltip-text-y-label"></span><span
                                                    class="apexcharts-tooltip-text-y-value"></span></div>
                                            <div class="apexcharts-tooltip-goals-group"><span
                                                    class="apexcharts-tooltip-text-goals-label"></span><span
                                                    class="apexcharts-tooltip-text-goals-value"></span></div>
                                            <div class="apexcharts-tooltip-z-group"><span
                                                    class="apexcharts-tooltip-text-z-label"></span><span
                                                    class="apexcharts-tooltip-text-z-value"></span></div>
                                        </div>
                                    </div>
                                    <div class="apexcharts-tooltip-series-group" style="order: 2;"><span
                                            class="apexcharts-tooltip-marker"
                                            style="background-color: rgb(10, 207, 151);"></span>
                                        <div class="apexcharts-tooltip-text"
                                            style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                            <div class="apexcharts-tooltip-y-group"><span
                                                    class="apexcharts-tooltip-text-y-label"></span><span
                                                    class="apexcharts-tooltip-text-y-value"></span></div>
                                            <div class="apexcharts-tooltip-goals-group"><span
                                                    class="apexcharts-tooltip-text-goals-label"></span><span
                                                    class="apexcharts-tooltip-text-goals-value"></span></div>
                                            <div class="apexcharts-tooltip-z-group"><span
                                                    class="apexcharts-tooltip-text-z-label"></span><span
                                                    class="apexcharts-tooltip-text-z-value"></span></div>
                                        </div>
                                    </div>
                                    <div class="apexcharts-tooltip-series-group" style="order: 3;"><span
                                            class="apexcharts-tooltip-marker"
                                            style="background-color: rgb(250, 92, 124);"></span>
                                        <div class="apexcharts-tooltip-text"
                                            style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                            <div class="apexcharts-tooltip-y-group"><span
                                                    class="apexcharts-tooltip-text-y-label"></span><span
                                                    class="apexcharts-tooltip-text-y-value"></span></div>
                                            <div class="apexcharts-tooltip-goals-group"><span
                                                    class="apexcharts-tooltip-text-goals-label"></span><span
                                                    class="apexcharts-tooltip-text-goals-value"></span></div>
                                            <div class="apexcharts-tooltip-z-group"><span
                                                    class="apexcharts-tooltip-text-z-label"></span><span
                                                    class="apexcharts-tooltip-text-z-value"></span></div>
                                        </div>
                                    </div>
                                    <div class="apexcharts-tooltip-series-group" style="order: 4;"><span
                                            class="apexcharts-tooltip-marker"
                                            style="background-color: rgb(255, 188, 0);"></span>
                                        <div class="apexcharts-tooltip-text"
                                            style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                            <div class="apexcharts-tooltip-y-group"><span
                                                    class="apexcharts-tooltip-text-y-label"></span><span
                                                    class="apexcharts-tooltip-text-y-value"></span></div>
                                            <div class="apexcharts-tooltip-goals-group"><span
                                                    class="apexcharts-tooltip-text-goals-label"></span><span
                                                    class="apexcharts-tooltip-text-goals-value"></span></div>
                                            <div class="apexcharts-tooltip-z-group"><span
                                                    class="apexcharts-tooltip-text-z-label"></span><span
                                                    class="apexcharts-tooltip-text-z-value"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="chart-widget-list">
                            <p>
                                <i class="mdi mdi-square text-primary"></i> Credito & Cobranza
                                <span class="float-end">0</span>
                            </p>
                            <p>
                                <i class="mdi mdi-square text-danger"></i> Autos nuevos
                                <span class="float-end">0</span>
                            </p>
                            <p>
                                <i class="mdi mdi-square text-success"></i> Autos seminuevos
                                <span class="float-end">0</span>
                            </p>
                            <p class="mb-0">
                                <i class="mdi mdi-square text-warning"></i> Refacciones
                                <span class="float-end">0</span>
                            </p>
                            <p class="mb-0">
                                <i class="mdi mdi-square text-warning"></i> Servicio
                                <span class="float-end">0</span>
                            </p>
                        </div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->

            <div class="col-xl-3 col-lg-6 order-lg-1">
                <div class="card">
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <h4 class="header-title">Actividad Reciente</h4>
                        </div>
                    </div>

                    <div class="card-body py-0" data-simplebar="init" style="max-height: 405px;">
                        <div class="simplebar-wrapper" style="margin: 0px -24px;">
                            <div class="simplebar-height-auto-observer-wrapper">
                                <div class="simplebar-height-auto-observer"></div>
                            </div>
                            <div class="simplebar-mask">
                                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                    <div class="simplebar-content-wrapper" tabindex="0" role="region"
                                        aria-label="scrollable content" style="height: auto; overflow: hidden scroll;">
                                        <div class="simplebar-content" style="padding: 0px 24px;">
                                            <div class="timeline-alt py-0">
                                                <div class="timeline-item">
                                                    <i
                                                        class="mdi mdi-upload bg-info-lighten text-info timeline-icon"></i>
                                                    <div class="timeline-item-info">
                                                        <a href="javascript:void(0);"
                                                            class="text-info fw-bold mb-1 d-block">Titulo</a>
                                                        <small>Descripcion del evento --------- ---------
                                                            ------- ------- -------
                                                        </small>
                                                        <p class="mb-0 pb-2">
                                                            <small class="text-muted">Tiempo trascurrido 5 min</small>
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="timeline-item">
                                                    <i
                                                        class="mdi mdi-airplane bg-primary-lighten text-primary timeline-icon"></i>
                                                    <div class="timeline-item-info">
                                                        <a href="javascript:void(0);"
                                                            class="text-primary fw-bold mb-1 d-block">Product on the
                                                            Bootstrap Market</a>
                                                        <small>Dave Gamache added
                                                            <span class="fw-bold">Admin Dashboard</span>
                                                        </small>
                                                        <p class="mb-0 pb-2">
                                                            <small class="text-muted">30 minutes ago</small>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="timeline-item">
                                                    <i
                                                        class="mdi mdi-airplane bg-primary-lighten text-primary timeline-icon"></i>
                                                    <div class="timeline-item-info">
                                                        <a href="javascript:void(0);"
                                                            class="text-primary fw-bold mb-1 d-block">Título de histórico</a>
                                                        <small>Error en imput de usurio: { 'user.name' }
                                                            <!--<span class="fw-bold">Admin Dashboard</span>-->
                                                        </small>
                                                        <p class="mb-0 pb-2">
                                                            <small class="text-muted">30 minutes ago</small>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="timeline-item">
                                                    <i
                                                        class="mdi mdi-airplane bg-primary-lighten text-primary timeline-icon"></i>
                                                    <div class="timeline-item-info">
                                                        <a href="javascript:void(0);"
                                                            class="text-primary fw-bold mb-1 d-block">Título de histórico</a>
                                                        <small>Error en imput de usurio: { 'user.name' }
                                                        </small>
                                                        <p class="mb-0 pb-2">
                                                            <small class="text-muted">30 minutes ago</small>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="timeline-item">
                                                    <i
                                                        class="mdi mdi-airplane bg-primary-lighten text-primary timeline-icon"></i>
                                                    <div class="timeline-item-info">
                                                        <a href="javascript:void(0);"
                                                            class="text-primary fw-bold mb-1 d-block">Título de histórico</a>
                                                        <small>Error en imput de usurio: { 'user.name' }
                                                        </small>
                                                        <p class="mb-0 pb-2">
                                                            <small class="text-muted">30 minutes ago</small>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="timeline-item">
                                                    <i
                                                        class="mdi mdi-airplane bg-primary-lighten text-primary timeline-icon"></i>
                                                    <div class="timeline-item-info">
                                                        <a href="javascript:void(0);"
                                                            class="text-primary fw-bold mb-1 d-block">Título de histórico</a>
                                                        <small>Error en imput de usurio: { 'user.name' }
                                                        </small>
                                                        <p class="mb-0 pb-2">
                                                            <small class="text-muted">30 minutes ago</small>
                                                        </p>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- end timeline -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="simplebar-placeholder" style="width: auto; height: 580px;"></div>
                        </div>
                        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                            <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                        </div>
                        <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                            <div class="simplebar-scrollbar"
                                style="height: 282px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
                        </div>
                    </div> <!-- end slimscroll -->
                </div>
                <!-- end card-->
            </div>
            <!-- end col -->

        </div>
        <!-- end row -->

    </div>

    {% else %}

    <h2 style="text-align: center;">Usuario sin privilegios para Dashboard</h2>

    <a href="{% url 'index' %}"><p style="text-align: center;">Ir al listado</p></a>

    {% endif %}

    {% endblock %}

</body>